<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Metadata-->
	<meta charset="UTF-8">
	<title>Full Stack Burgers</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- CSS -->
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	
	<!-- Fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Amiko&family=Gravitas+One&display=swap" rel="stylesheet">
	<!-- Javascript -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/page.js"></script>
	
	<!-- Favicon -->
</head>

<body>
	{{{ body }}}
</body>

</html>